* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kmr.kmr.acx -text
/apertium-kmr.kmr.dix -text
/apertium-kmr.kmr.rlx -text
/apertium-kmr.pc.in -text
/apertium-kmr.post-kmr.dix -text
/autogen.sh -text
/configure.ac -text
dev/apertium-kur.kur.lexc -text
dev/apertium-kur.kur.twol -text
dev/conj.sh -text
dev/kurmanji-basic.kmr-eng.txt -text
dev/test-phrases.txt -text
dev/test-words.txt -text
dev/verbs/verbs.py -text
dev/verbs/verbs.txt -text
dev/wikt-en-noun-list -text
/kmr.prob -text svneol=unset#unset
/modes.xml -text
texts/ethem.vislcg.txt -text
texts/miscellaneous.vislcg.txt -text
texts/puupankki/puupankki.srd.conllu -text
texts/sherlock.txt -text
